<nav id="nav">
    <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
    </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="">Register</a>
  <a class="btn-nav" href="">Login</a>
  <a class="btn-nav" href="">Logout</a>

  <div>
    <h3>‹
      <a class="btn-nav" href="">
        Browse timeline
      </a>
    </h3>
  </div>

  <h3 id="sub-nav-header">Browse by tag</h3>
  <div class="genre">
    {% for key in genre_urls %}
      <a class="btn-nav-genre" href="">{{ key }}</a>
    {% endfor %}
  </div>

  <div id="nav-footer">
    COMPSCI 235 Assignment 2 ydia530
  </div>
</nav>
